asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crispy-bootstrap5==2023.10
Django==4.2.9
django-appconf==1.0.6
django-background-tasks==1.2.8
django-bootstrap-v5==1.0.11
django-crispy-forms==2.1
django-jquery==3.1.0
django-select2==8.1.2
gunicorn==23.0.0
h11==0.14.0
idna==3.8
packaging==24.1
pillow==10.2.0
python-dotenv==1.0.0
requests==2.32.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.2.2
uvicorn==0.30.6
whitenoise==6.6.0
