{% extends 'base_layout.html' %}

{% block head %}
  {{ form.media.css }}
  <style>
    input, select {width: 100%}
  </style>
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}
  
  <div class="container mt-5">
    <h2>Create a book.</h2>
    <form method="post" action="{% url 'create_book' %}" enctype="multipart/form-data" class="mt-3">
      {% csrf_token %}
      {{ form|crispy }}
      <p><a href="{% url 'create_author' %}" class="text-muted">Can't find the author? Create one.</a></p>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {{ form.media.js }}
{% endblock %}